# Byte-compiled / optimized / DLL files
__pycache__/
*$py.class

build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.deb

#output
out

# Environments
.env
.venv
env/
venv/
ENV/

